<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="css/styles.css"></link>
</head>

<body>

<div id='chart'></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/main.bundle.js"></script>

<script>
// Global which will contain an instance of our chart
// texasChoropleth is defined in global-chart.js
var myChart = new <%= objName %>();
// This is the initial draw, which needs a selection string and data.
// You can also pass a props object.
$.getJSON('data/data.json', function(data){
  myChart.create("#chart", data, {
    stroke: '#333',
  });
});
// This is an update to the chart, which only needs new data.
setTimeout(function(){
  console.log('update');
  $.getJSON('data/update.json', function(data){
    myChart.update(data);
  });
}, 5000);
</script>

</body>
