<!DOCTYPE html>
<meta charset="utf-8">
<head>
  {% if env === 'production' %}
  <link rel="stylesheet" type="text/css" href="css/main-chart.css"></link>
  {% endif %}
</head>

<body>

<div id='chart'></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/main-chart.bundle.js"></script>

<script>
// Global which will contain an instance of our chart
// texasChoropleth is defined in global-chart.js
var myChart = new <%= objName %>();
// This is the initial draw, which needs a selection string and data.
// You can also pass a props object.
myChart.create("#chart", null, {
  stroke: '#333',
});
</script>

</body>
